<h1><%= @user.name %></h1>

<h3>Bio: <%= @user.bio %></h3>

<% if @user == current_user %>
    <%= link_to "Edit your account", edit_user_registration_path %>
<% end %>


<h4><%= @user.name %>'s Groups: </h4>
<ul>

    <% @user_groups.each do |group| %>

        <li><%= link_to group.name, group_path(group) %></li>

    <% end %>

</ul>




<h4><%= @user.name %>'s Recent Posts: </h4>
<ul>

    <% @user_posts.last(10).reverse_each do |post| %>

        <li><%= link_to post.content, group_post_path(post.group, post) %> <br>
            In this group: <br>
            <%= link_to post.group.name, group_path(post.group) %> <br>
            <p>&nbsp&nbsp&nbsp&nbsp - Created: <%= post.created_at.strftime("%A, %d %b %Y %l:%M %p") %> UTC </p>
            <br><br>

        </li>

    <% end %>

</ul>




<h4><%= @user.name %>'s Recent Comments: </h4>
<ul>

   <% @user_comments.last(10).reverse_each do |comment| %>

        <li>
            <%= @user.name %> wrote this: <br>
            "<%= comment.content %>" <br>
            On this post: <br>
            <%= link_to comment.post.content, group_post_path(comment.post.group, comment.post) %> 
            <br>
            <p>&nbsp&nbsp&nbsp&nbsp - Created: <%= comment.created_at.strftime("%A, %d %b %Y %l:%M %p") %> UTC </p>            
            <br><br>
        </li>

    <% end %>

</ul>
