<h1> <%= @group.name %> </h1>

<p> <%= @group.summary %> </p>

<% if @group_users.include?(current_user) %>
    <%= link_to "Leave Group", "/groups/#{@group.id}/leave_group" %>
<% else  %>
    <%= link_to "Join Group", "/groups/#{@group.id}/join_group" %>
<% end %>
<br><br><br>
<h1> Posts: </h2>

<% if @group_users.include?(current_user) %>
    <h5><%= link_to "New Post", new_group_post_path(@group.id) %> </h5>
<% end %>

<ul>
<% @group_posts.reverse_each do |post| %>

    <h3><%= post.content %></h3>
    <p>&nbsp&nbsp&nbsp&nbsp - Written by: <%= post.user.name %></p> 
    <p>&nbsp&nbsp&nbsp&nbsp - Created: <%= post.created_at.strftime("%A, %d %b %Y %l:%M %p") %> UTC </p>
    <p><%= link_to "Create Comment", new_post_comment_path(post.id) %></p>
    <% if post.user == current_user %>
        <p>&nbsp&nbsp&nbsp&nbsp <%= link_to "Edit Post", edit_post_path(post.id) %> </p>
        <p>&nbsp&nbsp&nbsp&nbsp <%= button_to "Delete Post", post_path(post.id), method: :delete %> </p>
    <% end %>
    <% if !post.comments.empty? %>
        <h4>&nbsp&nbsp&nbsp&nbsp comments...</h4> 
        <% post.comments.reverse_each do |comment| %>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= comment.content %></p> 
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp - Written by: <%= comment.user.name %></p> 
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp - Created: <%= post.created_at.strftime("%A, %d %b %Y %l:%M %p") %> UTC </p>
        <% end %>

    <% end %>

<% end %>
</ul>


<h3> Members: </h3>

<ul>
    <% @group_users.each do |user| %>
        <li>  <%= user.name %> </li>
    <% end %>
</ul>

<br><br>

<% if @group_users.include?(current_user) %>
    <%= link_to "Leave Group", "/groups/#{@group.id}/leave_group" %>
<% else  %>
    <%= link_to "Join Group", "/groups/#{@group.id}/join_group" %>
<% end %>