<h3>From Group: <%= link_to @post.group.name, group_path(@post.group) %></h3>

<p><%= link_to "Create Comment", new_post_comment_path(@post.id) %></p>

<% if !@post.comments.empty? %>
    <h4>Comments...</h4>

                
    <% @post.comments.each do |comment| %>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= comment.content %></p> 
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp - Written by: <%= link_to comment.user.name, profile_path(comment.user) %></p> 
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp - Created: <%= comment.created_at.strftime("%A, %d %b %Y %l:%M %p") %> UTC </p>
        <% if comment.user == current_user %>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= link_to "Edit Comment", edit_post_comment_path(@post.id, comment.id) %> </p>
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= button_to "Delete Comment", post_comment_path(comment.id), method: :delete %> </p>
        <% end %>
    <% end %>
<% end %>